<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- jQuery first, then Popper.js, then Bootstrap JS
slim is missing ajax -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</head>
<body>
<br><br><br><br><br>
<span class='submit-span'>

</span>

<form class='form-product-ajax form' method='POST' action='{% url "home_page" %}'>{% csrf_token %}
    <input type='hidden' name='product_id' value='123' />
    <input type="submit" />
</form>


<br><br><br>
<script>
          $(document).ready(function(){
            var productForm = $(".form-product-ajax") // #form-product-ajax

            productForm.submit(function(event){
                event.preventDefault();
                console.log("Form is not sending")
                var thisForm = $(this)
                var actionEndpoint = thisForm.attr("action");
                var httpMethod = thisForm.attr("method");
                var formData = thisForm.serialize();

                $.ajax({
                  url: actionEndpoint,
                  method: httpMethod,
                  data: formData,
                  success: function(data){
                    console.log("success")
                    console.log(data)
                  },
                  error: function(errorData){
                    console.log("error")
                    console.log(errorData)
                  }
                })

            })




          })

        </script>

</body>
</html>